
body{
	font-family: 'PT Sans';
	background-color: #6B7A63;
	color:#e6e6e6;
	background-image: radial-gradient(#e6e6e68a 5%, transparent 5%);
	background-size: 25px 25px;
}

h1, h2{
	text-align: left;
	font-family: 'Cormorant';
	font-size: 50px;
	color: #4A3525;
	padding-left: 3%;
}

p{
	color:#A35339;
	font-family: 'Cormorant';
	font-size: 20px;
	padding-left: 3%;
	text-shadow: 0.3px 0.2px 0px #4A3525;
}

a{
	color:#A35339;
	font-family: 'Cormorant';
	font-size: 20px;

	text-shadow: 0.3px 0.2px 0px #4A3525;
}

#p2{
	color:#4A3525;
	font-family: 'Cormorant';
	font-size: 20px;
	padding-left: 3%;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 99%;
	height: 4%;   /* Height of the footer */
	background: #6b705c;
	color:#ffe8d6;
	text-align: center;
	font-family: 'Cormorant';
	font-size: larger;
	z-index: 100;
}

div.grid{
	width: 95%;
	column-count: 3;
	margin: auto;
}

.column {
	margin:auto;
	float: left;
	width: 90%;
	padding: 3%; 
	border-radius: 10px;
	box-shadow: 5px 5px 0px #6b705c;
	object-fit: contain;
	display: inline-block;
	break-inside: avoid-column;  
}

img{
	width: 80%;
	margin: auto;
	display: block;
}

.parabox{
	color: #F5F2EC;
  	border-radius: 10px;
}

.sidenav {
	width: 25%;
	position: fixed;
	z-index: 1;
	top: 20px;
	left: 20px;
	background: #ffe8d6;
	overflow-x: hidden;
	padding: 8px 0;
	box-shadow: 5px 5px 0px #6b705c;
	border-radius: 10px;
}

.main {
  margin-left: 25%; /* Same width as the sidebar + left position in px */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

#iframe{
	width: 100%;
}

#img2{
	display: block;
	margin-right: -10%;
	width: 40%;
	object-fit: contain;
	margin-top: -7%;
}

#img3{
	width:80%;
	margin: auto;
	display: block;
	box-shadow: 5px 5px 0px #6b705c;

}

@media only screen and (max-width: 600px) {
	.sidenav {
		width: 90%;
		left: 1%;
		right: 1%;
		margin: auto;
		position:relative;
		height: 50%;
		margin-top: -10px;
	}

	img{
		width: 50%;
	}

  	.sidenav a {font-size: 18px;}

	.main{
		padding-top: 18px;
		margin-left: 0%;
		position: relative;
		display: block;
	}

	#footer{
		width: 98%;
		left: 1%;
	}

	div.grid{
		width: 104%;
		column-count: 1;
		margin-left: -5%;
	}

	.column {
		margin: auto;
		width: 100%;
	}

	#img2{
		margin-right: 2%;
		width: 20%;
		object-fit: contain;
		margin-top: 5%;
	}

}