

body{
	font-family: 'PT Sans';
	background-color: #6B7A63;
	color:#e6e6e6;
	background-image: radial-gradient(#e6e6e66b 5%, transparent 5%);
	background-size: 25px 25px;

}

h1, h2{
	text-align: left;
	font-family: 'Cormorant';
	font-size: 50px;
	color: #4A3525;
	padding-left: 3%;
}

p{
	color:#A35339;
	font-family: 'Cormorant';
	font-size: 20px;
	padding-left: 3%;
	text-shadow: 0.3px 0.2px 0px #4A3525;
}

a{
	color:#A35339;
	font-family: 'Cormorant';
	font-size: 20px;

	text-shadow: 0.3px 0.2px 0px #4A3525;
}

#p2{
	color:#4A3525;
	font-family: 'Cormorant';
	font-size: 20px;
	padding-left: 3%;
}

#footer {
	position: fixed;
	bottom: 0;
	width: 99%;
	height: 4%;   /* Height of the footer */
	background: #6b705c;
	color:#ffe8d6;
	text-align: center;
	font-family: 'Cormorant';
	font-size: larger;
	z-index: 100;
}

div.grid{
	width: 95%;
	column-count: 3;
	margin: auto;
	grid-auto-rows: auto;
}

.column {
	margin:auto;
	float: left;
	width: 90%;
	padding: 3%; 
	border-radius: 10px;
	box-shadow: 5px 5px 0px #6b705c;
	object-fit: contain;
	padding-bottom: 15%;
	row-gap: 100px;
}

img{
	width: 80%;
	margin: auto;
	display: block;
}

.parabox{
	color: #F5F2EC;
  	border-radius: 10px;
}

.sidenav {
	width: 25%;
	position: fixed;
	z-index: 1;
	top: 20px;
	left: 20px;
	background: #ffe8d6;
	overflow-x: hidden;
	padding: 8px 0;
	box-shadow: 5px 5px 0px #6b705c;
	border-radius: 10px;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 25%; /* Same width as the sidebar + left position in px */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
  
}

#iframe{
	width: 100%;
}

#img2{
	display: block;
	margin-right: -20%;
	height: 5%;
	object-fit: contain;
}

@media only screen and (max-width: 600px) {
	.sidenav {
		padding-top: 10px;
		width: 98%;
		margin: auto;
		left: 1%;
		right: 1%;
		position:relative;
		height: 50%;
	}

	img{
		width: 60%;
	}

  	.sidenav a {font-size: 18px;}

	.main{
		padding-top: 18px;
		margin-left: 0%;
		position: relative;
		display: block;
	}

	#footer{
		width: 98%;
		left: 1%;
	}

	div.grid{
		width: 95%;
		column-count: 1;
		margin: auto;
	}

	.column {
		margin: auto;
		float: left;
		width: 95%; 
		border-radius: 10px;
		height: 90%;
	}

	#img2{
		height: 10%;
	}

}